In [1]:
#Settings
new_money_in = 100000
#Set our rebalance threshold
rebal_threshold = .05 #allowable allocation drift
rebal_timeframe = 30 #in days

In [2]:
#Define target and current allocations
#create our target allocation
columns_t = ['ticker','allocation_target','assetclass']
positions_t = [['AAPL',0.25,'ST'],
               ['PFE',0.25,'ST'],
               ['HD',0.25,'ST'],
               ['DVN',0.25,'ST']]

#set our current portfolio
columns_c = ['accounttype','accountid','lastrebaldate','ticker','assetclass','basisdate','costbasis','shares']
positions_c = [['TAXB','3333','2013-01-01','MONEY','ST','2013-01-01',1,100000]]

In [3]:
#Lets import the necessary packages
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', None)
import numpy as np
import datetime
import decimal
from pandas_datareader import data as pdr
from keys import tiingo_key
#define todays datetime
now = datetime.datetime.now()
from dateutil.relativedelta import relativedelta
#uncomment below to override tiingo_key with your own! 
tiingo_key = 'c45f59abd1f342047df4025a5412c16d3ed11c45'

In [4]:
#lookup table for account type abbreviations
accounttypes = {'TAXB':'Taxable Brokerage', '401K':'401k', 'RIRA':'Roth-IRA', 'TIRA':'Traditional-IRA'}
assetclasses = {'ST':'Equity Stocks', 'BD':'Bonds Fixed-Income', 'CS':'Cash and Commodities', 'RE':'Real-Estate', 'ALT':'Alternatives'}
assettypes = {'SEC':'Individual Security', 'ETF':'Exchange Traded Fund', 'MF': 'Mutual Fund', 'IF':'Index Fund'}
assetregion = {'D':'Domestic','I':'International'}

#initialize target portfolio
targetalloc = pd.DataFrame(columns = columns_t, data = positions_t)
total=decimal.Decimal(targetalloc.allocation_target.sum())
#check that our target allocation indeed adds to 100%
assert round(total,4) == 1,'Target Allocation not 100% : {}'.format(int(total))

#initialize current portfolio
start_port = pd.DataFrame(columns = columns_c, data = positions_c)
start_port.lastrebaldate = pd.to_datetime(start_port.lastrebaldate)
start_port.basisdate = pd.to_datetime(start_port.basisdate)

#get first tuesday of a given month and year
def get_day(year, month):
    d = datetime.datetime(year, month, 1)
    offset = 1-d.weekday() #weekday = 1 means tuesday
    if offset < 0:
        offset+=7
    return d+datetime.timedelta(offset)

#custom apply function
def f(x):
    d = {}
    d['lastrebaldate'] = x['lastrebaldate'].max()
    d['assetclass'] = x['assetclass'].max()
    d['basisdate'] = x['basisdate'].min()
    d['costbasis'] = (x['costbasis'] * x['shares']).sum()/(x['shares'].sum() or 1) #weighted avg
    d['shares'] = x['shares'].sum()
    return pd.Series(d, index=['lastrebaldate', 'assetclass', 'basisdate', 'costbasis', 'shares'])

#aggregate by ticker to account for duplicate securities held in different accounts
agg_port = start_port.groupby(['ticker']).apply(f)

#Define list of distinct tickers we care about
tickers = set(targetalloc.ticker.unique().tolist()+start_port.ticker.unique().tolist())

In [5]:
tickers

{'AAPL', 'DVN', 'HD', 'MONEY', 'PFE'}

In [6]:
#Next we pull the latest prices from Tiingo (YahooFinance is buggy, and IEX does not contain mutual fund data)
#Tiingo limits for free API: 500 unique tickers ever, 500 requests/hr, 20,000 requests/day
#https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#tiingo
#Tiingo API key required: set 'tiingo_key' value in python file called 'keys.py' in same directory as this script
now = datetime.datetime.now()
yesterday = now - datetime.timedelta(3) #avoids weekends with no data - need better weekend detection
#start = datetime.datetime(yesterday.year, yesterday.month, yesterday.day)
start = datetime.datetime.strptime('2015-01-02', '%Y-%m-%d').date()
#end = datetime.datetime(now.year, now.month, now.day)
current_date = start + relativedelta(months=+3)

rebalance_date = get_day(current_date.year,current_date.month)

bad_tickers = []
for i, t in enumerate(tickers):
    try:
        if i==0:
            ohlc = pdr.get_data_tiingo(t, start, rebalance_date, api_key=tiingo_key).tail(1).close
        else:
            ohlc = ohlc.append(pdr.get_data_tiingo(t, start, rebalance_date, api_key=tiingo_key).tail(1).close)
    except:
        bad_tickers.append(t)
        
print(bad_tickers)

ohlc

['MONEY']

symbol  date
HD      2015-04-07 00:00:00+00:00    114.30
AAPL    2015-04-07 00:00:00+00:00    126.01
DVN     2015-04-07 00:00:00+00:00     63.33
PFE     2015-04-07 00:00:00+00:00     34.54
Name: close, dtype: float64

In [7]:
ohlc = ohlc.to_frame(name='close')

#drop our date index since its only the latest data
ohlc2=ohlc.reset_index(level=1, drop=True)
ohlc2.loc['MONEY']=1.0

#Manual fix for known bad_tickers which Tiingo can't find, adjust to suit your needs
if 'VMFXX' in bad_tickers:
    ohlc2.loc['VMFXX'] = 1.0

In [8]:
ohlc2

         close
symbol
HD      114.30
AAPL    126.01
DVN      63.33
PFE      34.54
MONEY     1.00

In [9]:
#concatenate target allocation and latest prices with our portfolio
agg_port

       lastrebaldate assetclass  basisdate  costbasis  shares
ticker
MONEY     2013-01-01         ST 2013-01-01          1  100000

In [10]:
targetalloc

  ticker  allocation_target assetclass
0   AAPL               0.25         ST
1    PFE               0.25         ST
2     HD               0.25         ST
3    DVN               0.25         ST

In [11]:
start_port_c = pd.merge(agg_port, targetalloc, on ='ticker', how ='outer')
start_port_c

,ticker,lastrebaldate,assetclass_x,basisdate,costbasis,shares,allocation_target,assetclass_y
0,MONEY,2013-01-01,ST,2013-01-01,1.0,100000.0,NaN,NaN
1,AAPL,NaT,NaN,NaT,NaN,NaN,0.25,ST
2,PFE,NaT,NaN,NaT,NaN,NaN,0.25,ST
3,HD,NaT,NaN,NaT,NaN,NaN,0.25,ST
4,DVN,NaT,NaN,NaT,NaN,NaN,0.25,ST

In [12]:
final_port = pd.merge(start_port_c, ohlc2, left_on ='ticker', right_index = True, how = 'left')
final_port

,ticker,lastrebaldate,assetclass_x,basisdate,costbasis,shares,allocation_target,assetclass_y,close
0,MONEY,2013-01-01,ST,2013-01-01,1.0,100000.0,NaN,NaN,1.00
1,AAPL,NaT,NaN,NaT,NaN,NaN,0.25,ST,126.01
2,PFE,NaT,NaN,NaT,NaN,NaN,0.25,ST,34.54
3,HD,NaT,NaN,NaT,NaN,NaN,0.25,ST,114.30
4,DVN,NaT,NaN,NaT,NaN,NaN,0.25,ST,63.33

In [13]:
#set target to zero for tickers held but not present in our target allocation, set initial basisdate and costbasis for new securities entering the portfolio
final_port.fillna(value = {'allocation_target':0.0,'shares':0.0,'basisdate':pd.to_datetime(now.strftime("%Y-%m-%d")),'costbasis':final_port.close,'assetclass_x':final_port.assetclass_y},inplace = True)
final_port.drop(['assetclass_y'],axis=1,inplace=True)
final_port.rename(columns={'assetclass_x':'assetclass'},inplace=True)

#calculate holding values and current allocation
final_port['value'] = final_port.close * final_port.shares #calculate value as price x shares
final_port.loc[final_port.value.isna() & final_port.shares.isna(),['value']]=0.0 #for securities not currently held but in our target (and close price failed to return), establish zero value
final_port['allocation'] = final_port.value / final_port.value.sum()
final_port['correction'] = final_port.allocation_target - final_port.allocation
final_port['new_money_in'] = new_money_in * final_port.allocation_target #Account for new money in
final_port

,ticker,lastrebaldate,assetclass,basisdate,costbasis,shares,allocation_target,close,value,allocation,correction,new_money_in
0,MONEY,2013-01-01,ST,2013-01-01,1.00,100000.0,0.00,1.00,100000.0,1.0,-1.00,0.0
1,AAPL,NaT,ST,2022-02-21,126.01,0.0,0.25,126.01,0.0,0.0,0.25,25000.0
2,PFE,NaT,ST,2022-02-21,34.54,0.0,0.25,34.54,0.0,0.0,0.25,25000.0
3,HD,NaT,ST,2022-02-21,114.30,0.0,0.25,114.30,0.0,0.0,0.25,25000.0
4,DVN,NaT,ST,2022-02-21,63.33,0.0,0.25,63.33,0.0,0.0,0.25,25000.0

In [14]:
#create timedelta int column
final_port['timedelta'] = (final_port.lastrebaldate - pd.to_datetime(rebalance_date.strftime("%Y-%m-%d"))).dt.days
final_port.timedelta.fillna(0,inplace=True)

#define rebalance flags to determine if we must rebalance
final_port['rebal_flag_thresh'] = np.where((abs(final_port.correction)<=rebal_threshold) & (final_port.allocation > 0),0,1)
final_port['rebal_flag_time'] = np.where(final_port.timedelta >= rebal_timeframe,1,0)
final_port['rebal_flag_exit'] = np.where((final_port.allocation > 0) & (final_port.allocation_target==0),1,0) #force rebal securities not present in our target portfolio
final_port['rebal_flag_newmoney'] = np.where(final_port.new_money_in>0,1,0)
final_port['rebal_flag'] = np.where(final_port.rebal_flag_thresh + final_port.rebal_flag_time + final_port.rebal_flag_exit + final_port.rebal_flag_newmoney >= 1,1,0)

#Subset of securities we need to rebalance, and those we need to leave alone
rebal_port = final_port[final_port.rebal_flag==1].copy()
stable_port = final_port[final_port.rebal_flag==0].copy()

In [15]:
final_port

,ticker,lastrebaldate,assetclass,basisdate,costbasis,shares,allocation_target,close,value,allocation,correction,new_money_in,timedelta,rebal_flag_thresh,rebal_flag_time,rebal_flag_exit,rebal_flag_newmoney,rebal_flag
0,MONEY,2013-01-01,ST,2013-01-01,1.00,100000.0,0.00,1.00,100000.0,1.0,-1.00,0.0,-826.0,1,0,1,0,1
1,AAPL,NaT,ST,2022-02-21,126.01,0.0,0.25,126.01,0.0,0.0,0.25,25000.0,0.0,1,0,0,1,1
2,PFE,NaT,ST,2022-02-21,34.54,0.0,0.25,34.54,0.0,0.0,0.25,25000.0,0.0,1,0,0,1,1
3,HD,NaT,ST,2022-02-21,114.30,0.0,0.25,114.30,0.0,0.0,0.25,25000.0,0.0,1,0,0,1,1
4,DVN,NaT,ST,2022-02-21,63.33,0.0,0.25,63.33,0.0,0.0,0.25,25000.0,0.0,1,0,0,1,1

In [16]:
#Calculate our current allocation, target, and the change we need to hit target
total_val = rebal_port.value.sum()
rebal_port['allocation'] = rebal_port.value/rebal_port.value.sum()
rebal_port['allocation_target'] = rebal_port.allocation_target/rebal_port.allocation_target.sum()
rebal_port['correction'] = rebal_port.allocation_target - rebal_port.allocation

#Factor in any new money entering the portfolio and determine necessary changes in value and shares
rebal_port['value_chg'] = (total_val * rebal_port.correction) + rebal_port.new_money_in
rebal_port['shares_chg'] = rebal_port.value_chg / rebal_port.close
rebal_port.loc[rebal_port.value_chg.isna() & rebal_port.shares > 0,['shares_chg']]=-rebal_port.shares #sell all shares of securities not in our target portfolio

#Round off shares to whole numbers, except when we are fully exiting a position
rebal_port['shares_chg_round'] = rebal_port.shares_chg
rebal_port = rebal_port.astype({'shares_chg_round': int})
rebal_port['final_shares_chg'] = rebal_port.shares_chg
rebal_port.loc[np.round(rebal_port.shares_chg+rebal_port.shares)!=0,['final_shares_chg']]=rebal_port.shares_chg_round*1.0
rebal_port.drop(['shares_chg_round'],axis=1,inplace=True)

#Calculate initial new shares and values
rebal_port['new_shares'] = np.round(rebal_port.shares + rebal_port.final_shares_chg,3)
rebal_port['new_value'] = rebal_port.new_shares * rebal_port.close #due to share rounding, there will be slight variance vs. portfolio starting value
rebal_port['new_value_chg'] = rebal_port.final_shares_chg * rebal_port.close

In [17]:
#Double check our work so far
#net of buying and selling should be zero
assert(np.round(rebal_port.value_chg.sum(),3)-new_money_in==0) 
#make sure totals match (with rounding error + new money in) from original portfolio and rebalanced portfolio
assert(np.round(rebal_port.new_value.sum() - rebal_port.value.sum(),3)==np.round((rebal_port.new_value.sum() + stable_port.value.sum()) - final_port.value.sum(),3))

In [18]:
#Merge our rebalanced portfolio with our stable portfolio for our execution portfolio
stable_port['value_chg'] = 0
stable_port['shares_chg']=0
stable_port['final_shares_chg'] = 0
stable_port['new_value_chg'] = 0
stable_port['new_shares'] = stable_port.shares
stable_port['new_value'] = stable_port.value
exec_port = pd.concat([rebal_port,stable_port],sort=False)
exec_port.drop(columns=['timedelta','rebal_flag_thresh','rebal_flag_time','rebal_flag_exit','rebal_flag_newmoney','value_chg','shares_chg'],inplace=True)

#Reset allocations to be based on all securities
exec_port['allocation'] = exec_port.value/exec_port.value.sum()
exec_port['allocation_target'] = exec_port.allocation_target/exec_port.allocation_target.sum()
exec_port['correction'] = exec_port.allocation_target - exec_port.allocation
exec_port['final_allocation'] = exec_port.new_value / exec_port.new_value.sum()

In [19]:
exec_port

,ticker,lastrebaldate,assetclass,basisdate,costbasis,shares,allocation_target,close,value,allocation,correction,new_money_in,rebal_flag,final_shares_chg,new_shares,new_value,new_value_chg,final_allocation
0,MONEY,2013-01-01,ST,2013-01-01,1.00,100000.0,0.00,1.00,100000.0,1.0,-1.00,0.0,1,-100000.0,0.0,0.00,-100000.00,0.000000
1,AAPL,NaT,ST,2022-02-21,126.01,0.0,0.25,126.01,0.0,0.0,0.25,25000.0,1,396.0,396.0,49899.96,49899.96,0.249755
2,PFE,NaT,ST,2022-02-21,34.54,0.0,0.25,34.54,0.0,0.0,0.25,25000.0,1,1447.0,1447.0,49979.38,49979.38,0.250152
3,HD,NaT,ST,2022-02-21,114.30,0.0,0.25,114.30,0.0,0.0,0.25,25000.0,1,437.0,437.0,49949.10,49949.10,0.250001
4,DVN,NaT,ST,2022-02-21,63.33,0.0,0.25,63.33,0.0,0.0,0.25,25000.0,1,789.0,789.0,49967.37,49967.37,0.250092